<div class="footer">
  <div class="footer-links-div">
    <a href="https://www.instagram.com/piperocare/?hl=en" class="footer-links"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/piperocare/" class="footer-links"><i class="fab fa-facebook"></i></a>
  </div>
</div>
