.footer {
  padding: 0 16px;
  margin-top: auto;
  background-image: linear-gradient(to right, $cold, $warm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100vw;
  color: rgb(244, 244, 244);
  position: fixed;
  bottom: 0;
  left: 0;
  h6{
    font-size: 14px;
    font-weight: 900;
  }
}

.footer-links{
  text-decoration: none;
  color: white;
  i {
    font-size: 25px;
  }
}

.footer-links-div{
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 300px;
  margin-top: 8px;
  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  i {
    font-size: 16px;
  }
}

.address {
  width: 300px;
  h6 {
    text-align: right;
  }
  i {
    font-size: 16px;
  }
}

@media(max-width: 768px) {
  .address {
    display: none;
  }
  .contact {
    display: none;
  }
  .footer{
    display: flex;
    justify-content: center;
  }
}
