
@media (min-width: 769px){
  #home-banner{
    display: none;
  }
}

#home-banner {
  margin: 0 auto;
  width: 100vw;
}
.footer {
  margin-top: auto;
  background-image: linear-gradient(to right, $cold, $warm);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100vw;
  color: rgb(244, 244, 244);
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-links{
  text-decoration: none;
  color: white;
  i {
    font-size: 25px;
  }
}
.home-links{
  display: flex;
  justify-content: center;
  background-color: $cold;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 20px 0;
  margin: 0 20px;
  width: 200px;
  border-radius: 16px;
}

.home-links-div{
  display: flex;
  justify-content: space-around;
}

.home-links:hover{
  background-color: $warm;
}

.home-links-container {
  height: 85%;
}

@media(max-width: 992px) {
  .home-links-div {
    display: flex;
    flex-wrap: wrap;
  }
  .home-links{
    margin: 0px;
    margin-top: 40px;
    padding: 15px 0;
    width: 160px;
  }
}
