// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@media (min-width: 769px) {
  body {

    background-image: url("banner.jpeg");
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    animation: mymove 1.5s;
  }

  @keyframes mymove {
    from {top: 50vh; left: 50%; background-size: 300px 300px;}
    to {top: 0px; left: auto; background-size: 100vw 100vh;}
  }
}

@media (max-width: 768px) {
  body {
    background-image: none;
    background-color: rgb(244,244,244);
  }
}
